Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on
AddDefaultCharset UTF-8

#  RewriteCond %{HTTP_HOST} !^www\.mc\.best$
#  RewriteRule (.*) http://www.mc.best/$1 [R=301,L]
  
# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php
